.gridPane {
    -fx-background-color: linear-gradient(to bottom, #D8DBFF, #B5BBFF);
}
.menu {
    -fx-background-color: #525FE1;
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20px;
}
.menu Text {
    -fx-fill: #FFFFFF;
}
.menu-separator {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-pref-height: 5px;
    -fx-border-width: 0;
}
.login-title {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 40px;
    -fx-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.2, 0, 2);
}
.custom-radio-button {
    -fx-mark-color: #F86F03;
    -fx-text-fill: #FFFFFF;
    -fx-focus-color: transparent; /* Remove blue focus ring */
    -fx-faint-focus-color: transparent; /* Remove faint focus effect */
}
.custom-text-field {
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-width: 2px;
    -fx-text-fill: #454545;
    -fx-padding: 8px;
    -fx-prompt-text-fill: #999999;
}
.custom-text-field:focused {
    -fx-border-color: #F86F03;
}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 24px;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-background-radius: 25px; /* Ensure background also has rounded corners */
}
.transparent-button:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #525FE1;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}
.orange-button {
    -fx-background-color: #F86F03;
    -fx-border-color: #F86F03;
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 24px;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-background-radius: 25px;
}
.orange-button:hover {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #F86F03;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}
.medium-bold-white-text {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 24px;
    -fx-fill: #FFFFFF;
}
.small-white-text {
    -fx-font-family: "Roboto";
    -fx-font-size: 20px;
    -fx-fill: #FFFFFF;
}
.verySmall-white-text {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-fill: #FFFFFF;
}
.header {
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../../assets/images/booksBackground.png");
    -fx-background-position: left center;
    -fx-background-size: auto 94%;
    -fx-background-repeat: repeat-x;
    -fx-background-radius: 15;
    -fx-padding: 15;
}

.header-title {
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 40px;
    -fx-fill: #F86F03;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.2, 0, 2);
    -fx-padding: 0 0 15 15;
}

.main {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-padding: 15;
}